body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* About Page Styles */
  .about-page {
    padding: 20px;
    text-align: center;
  }
  
  .about-page-img {
    background: url("../assets/heros.png");
    background-size: cover;
    background-position: center;
  }
  
  .about-page-image {
    width: 100%;
    height: 50vh; /* Set the height to 50% of the viewport height */
    overflow: hidden;
  }
  
  .about-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    margin-bottom: 40px;
  }
  
  .about-page h1 {
    font-size: 2.5rem;
    color: #0056b3;
    margin-bottom: 20px;
  }
  
  .about-page p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Mission Section */
  .mission {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .mission h2 {
    color: #0056b3;
    margin-bottom: 10px;
  }
  
  /* Team Section */
  .team {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .team h2 {
    color: #0056b3;
    margin-bottom: 20px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .member {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .member h3 {
    margin-bottom: 5px;
  }